<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 
        https://www.canva.com/design/DAE6Pk34olk/vdwkUWOyfn3TGNZdyodRfw/view?utm_content=DAE6Pk34olk&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton 
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Isla Pastelera</title>
</head>
<body>
    <nav>
        <img src="../assets/img/IslaPAstelera.png" alt="" width="200px" height="200px">
            <ul><a href=""> Menú </a> </ul>
            <ul><a href="./pedido.html">Pedido</a></ul>
            <ul><a href="">Contacto</a></ul>
    </nav>
    <section>
        <!--
        
        -->
        <div >
            <div>
                <li>Pasteles
                    <ul>
                        <li>Vainilla        $120</li>
                        <li>Fresa       $120</li>
                        <li>Chocolate       $180</li>
                        <li>Zanahoria       $180</li>
                        <li>Red Velvet      $280</li>
                        <li>Pay de Limon        $280</li>
                    </ul>
                </li>
            </div>
            
            <div >
                <li>Cubiertas
                    <ul>
                        <li>Glaseado        $80</li>
                        <li>Merengue o suspiro $120</li>
                        <li>Fondant     $80</li>
                        <li>Pasteles temáticos      $200</li>
                    </ul>
                    <p>(El costo del glaseado se agrega extra al precio del pastel de su elección)</p>
                </li>
            </div>
        </div>
        <a href="./pedido.html"> 
            <input type="button" value="Pedido">
        </a>
    </section>
    

        

    <!-- informacion de la pasteleria Dirección, Teléfono y horarios de atención.-->
    <footer style="border: 1px solid black; margin-top: 30px;">
        <p>Direccion: Michoacan, Mexico CP: 00123</p>
        <p>Telefono: 008004631</p>
        <p>Correo: correoPasteles@gmail.com</p>
        <dl>
            <dt>Horarios</dt>
            <dd>Lunes 10:00 AM - 05:00 PM</dd>
            <dd>Martes 10:00 AM - 05:00 PM</dd>
            <dd>Miercoles 10:00 AM - 05:00 PM</dd>
            <dd>Jueves 10:00 AM - 05:00 PM</dd>
            <dd>Viernes 10:00 AM - 05:00 PM</dd>
        </dl>
    </footer>
</body>
</html>