<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Mi vacunación</title>
</head>
<body>
    <nav id="menu">
        <h1 class="nav_tittle">Vaccination</h1>
        <div class="text-menu">
            <ul>
                <li> <a href="">Database</a>   </li>
                <li> <a href="">Education</a>    </li>
                <li> <a href="">News</a>    </li>
                <li> <a href="">Regulation</a>    </li>
                <li class="navbutton"> <a href="">Hoax Buster</a></li>
            </ul>
        </div>
    </nav>

    <header>
        
            <div class="parent">
                <div class="div1"> 
                    <h2>Fight Virus<br> With Vaccines</h2>
                    <p>
                        Let's stop this pandemic by killing the virus <br>
                        with a vaccine, don't let yourself and your <br>
                        family get infected
                    </p>

                    <!-- iconos with text-->
                    <div>
                        <img src="../assets/icons/shield.ico" alt="shield_icon">
                        <p> Best protection</p> 
                        <img src="../assets/icons/star.ico" alt="Star_icon">
                        <p>Selected Vaccines</p>
                    </div>
                    <div>
                        <img src="..\assets\icons\time_clock.ico" alt="">
                        <p>Schedule your vaccinations</p>
                    </div>
                </div>
                <div class="div2"> 
                    <img src="../assets/imgs/header_banner.jpeg" alt="" width="100%" height="100%">
                </div>
            </div>
            <div>
                <form action="" method="">
                    <label for="">Location</label>
                    <input type="text">
                    <label for="">Date</label>
                    <input type="date">
                    <label for="">Vaccine Type</label>
                    <select name="vacunas" id="vacuna">
                        <option value="Moderna">Moderna</option>
                        <option value="Pfizer">Pfizer</option>
                        <option value="Astrazeneca">Astrazeneca</option>
                        <option value="Sinovac">Sinovac</option>
                    </select>
                    <button >Sumbit</button>
                </form>
            </div>
    </header>

    <!-- Marcas de vacunas-->
    <section>       
        
    </section>
    <section>
        <div>
            <h4>Why should I vaccine?</h4>
            <p>
                In order to avoid any doubts about gettin the COVID-19 <br>
                vaccine, identify the following 4 benefits of COVID-19 <br>
                vaccination:
            </p>
        </div>
        <div>
            <div>
                
            </div>
        </div>
    </section>
</body>
</html>