<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Mi vacunación</title>
</head>
<body>
    <nav id="menu">
        <h1 class="nav_tittle">Vaccination</h1>
        <div class="text-menu">
            <ul>
                <li> <a href="">Database</a>   </li>
                <li> <a href="">Education</a>    </li>
                <li> <a href="">News</a>    </li>
                <li> <a href="">Regulation</a>    </li>
                <li class="navbutton"> <a href="">Hoax Buster</a></li>
            </ul>
        </div>
    </nav>

    <header>
        
            <div class="parent">
                <div class="div1"> 
                    <h2>Fight Virus<br> With Vaccines</h2>
                    <p>
                        Let's stop this pandemic by killing the virus <br>
                        with a vaccine, don't let yourself and your <br>
                        family get infected
                    </p>

                    <!-- iconos with text-->
                    <div>
                        <img src="../assets/icons/shield.ico" alt="shield_icon">
                        <p> Best protection</p> 
                        <img src="../assets/icons/star.ico" alt="Star_icon">
                        <p>Selected Vaccines</p>
                    </div>
                    <div>
                        <img src="..\assets\icons\time_clock.ico" alt="">
                        <p>Schedule your vaccinations</p>
                    </div>
                </div>
                <div class="div2"> 
                    <img src="../assets/imgs/header_banner.jpeg" alt="" width="100%" height="100%">
                </div>
            </div>
            <div>
                <form action="" method="">
                    <label for="">Location</label>
                    <input type="text">
                    <label for="">Date</label>
                    <input type="date">
                    <label for="">Vaccine Type</label>
                    <select name="vacunas" id="vacuna">
                        <option value="Moderna">Moderna</option>
                        <option value="Pfizer">Pfizer</option>
                        <option value="Astrazeneca">Astrazeneca</option>
                        <option value="Sinovac">Sinovac</option>
                    </select>
                    <button >Sumbit</button>
                </form>
            </div>
    </header>

    <!-- Marcas de vacunas-->
    <section>       
        
    </section>

    <!-- información sobre vacunacion-->
    <section>
        <div>
            <h4>Why should I vaccine?</h4>
            <p>
                In order to avoid any doubts about gettin the COVID-19 <br>
                vaccine, identify the following 4 benefits of COVID-19 <br>
                vaccination:
            </p>
        </div>
        <div>
            <!-- InfoCards-->
            <div>
                <img src="" alt="">
                <b><p>Minimize the spread of viruses</p></b> 
                <br>
                <p>Vaccine has been proven affective to prevent someone
                    from gettin infected with Coronavirus
                </p>
            </div>

            <div>
                <img src="" alt="">
                <b><p>Forming antibodies</p></b> 
                <br>
                <p>
                    COVID-19 vaccine proven to help shape antibody response for immunse system
                </p>
            </div>

            <div>
                <img src="" alt="">
                <b><p>Protecting people nearby</p></b> 
                <br>
                <p>
                    The benefits of COVID-19 vaccination are the vaccine that we get can alto
                    help protect people around us
                </p>
            </div>
            
            <div>
                <img src="" alt="">
                <b><p>Creating group immunity</p></b> 
                <br>
                <p>
                    COVID-19 vaccination is also beneficial for creatin group immunity or heard immunity
                </p>
            </div>

        </div>
    </section>
    <section>
        <div class="parent">
            <div class="div1"> 
                <img src="../assets/imgs/peopleFacemask.jpg" alt="" width="100%" height="100%">
            </div>
            <div class="div2"> 
                <h2>Preparations Before Vaccine</h2>
            </div>
        </div>
    </section>
    <section>
        <div class="parent">
            <div class="div1"> 
                <h2>Emergency Conctact</h2>
                <p>
                    Conctac one of the contacts below if you or your family feel <br>
                    unwell and have similar symptoms such as Covid-19, make <br>
                    sure you also take care of yourself before reporting to us: <br>
                </p>
            </div>
            <div class="div2"> 
                <img src="../assets/imgs/nurseFaceMasj.jpg" alt="" width="100%" height="100%">
            </div>
        </div>
    </section>
    <footer>
        <div>
            <h3> Vaccination  </h3>
            <p>
                Our goal is to help the world
                free from the ongoing pandemic
            </p>
        </div>
        <div>
            <!-- about -->
            <div>
                <h3> About  </h3>
                <p><a href=""> About Us </a></p>
                <p><a href=""> Features </a></p>
                <p><a href=""> News & Blog </a></p>
            </div>

            <!-- company -->
            <div>
                <h3> Company  </h3>
                <p><a href=""> How We Work </a></p>
                <p><a href=""> Capital </a></p>
                <p><a href=""> Security </a></p>
            </div>

            <!-- Support -->
            <div>
                <h3> Support  </h3>
                <p><a href=""> FAQs </a></p>
                <p><a href=""> Support Center </a></p>
                <p><a href=""> Contact Us </a></p>
            </div>
        </div>
    </footer>
</body>
</html>